@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
    background: -webkit-linear-gradient(#89CFF0, #FFD700, #FF7043, #6A0DAD, #0D47A1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

