@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: -webkit-linear-gradient(
    45deg,
    #8e2de2,
    /* Purple */ #4a00e0,
    /* Deep Purple */ #2b2b2b,
    /* Dark Grey */ #232526,
    /* Almost Black */ #414345 /* Light Grey */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textGradient2 {
  background: -webkit-linear-gradient(#4338ca, #818cf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purpleShadow {
  box-shadow: 3px 3px 1px 1px lavender;
}

.purpleShadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px lavender;
}
